/* Base Layout */
* {
    box-sizing: border-box;
    font-family: 'ZCOOL XiaoWei', cursive;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 31);




}

body {}

header {
    text-align: center;







}

legend {
    margin-bottom: 20px;
    font-family: 'ZCOOL XiaoWei', cursive;
    font-size: x-large;
    font-weight: bolder;
}

h1 {
    background-color: rgb(6, 6, 63);
    text-transform: uppercase;
    color: whitesmoke;






}

.intro {
    margin-top: 0;

}



fieldset {
    border: none;




}

.zip {

    width: 50%;
    display: inline;
}

.first {

    margin: 10px;


}

.second {}

hr {
    border: rgb(225, 220, 248) solid 1px;
    width: 45%;

}



footer {
    text-align: center;

}

label {
    margin: 7px;


}

input {}

/* SELECTORS */
input[placeholder] {}

input[type="submit"] {
    cursor: pointer;
    background-color: rgb(93, 197, 183);
    color: whitesmoke;
    width: 20em;
    border-radius: 10px;
    height: 4em;

    max-width: 100%;
    width: 100%;



}





.chk1 {}

.topics {
    background-color: rgb(241, 241, 241);
    border-radius: 4px;
    max-width: 100%;
    margin-bottom: 20px;
    width: 100%;
}








/* Combinators */
.first input {

    background-color: rgb(241, 241, 241);
    border-radius: 4px;
    height: 2.5em;
}







@media (min-width: 768px) {
    .first {}

    .second {}

    .zip {}

}