/* Base Layout */
* {
    box-sizing: border-box;
    font-family: 'ZCOOL XiaoWei', cursive;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 31);

    margin: 0;




}

body {}

header {
    text-align: center;






}



legend {
    margin-bottom: 20px;
    font-family: 'ZCOOL XiaoWei', cursive;
    font-size: x-large;
    font-weight: bolder;
}

h1 {
    background-color: rgb(88, 124, 64);
    text-transform: uppercase;
    color: whitesmoke;

    padding: 10px;
    text-align: center;

    font-size: 10px;


}

h2 {
    margin-top: 50px;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;

}

main {
    margin-top: 1em;
}

/* CONTACT SECTION */
.f1 {


    border: none;
    margin-top: 1em;




}

.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}


legend {
    margin-bottom: 10%;

}

fieldset {
    padding: 0;
    margin: 0;
}

/* NEWSLETTER SECTION */
.f2 {
    border: none;
    margin-top: 1em;
}





/* COMBINATORS and STYLES FOR SELECTORS  */
[type="checkbox"]+label {
    display: inline-block;
}

[type="radio"]+label {
    display: inline-block;

}

#fname:focus {

    background-color: rgb(175, 211, 211);

    border: solid rgb(87, 187, 87) 3px;

}

.contact input {
    background-color: #e7eee6;
    height: 2em;
    border-radius: 7px;
    box-shadow: 10px 10px 5px grey;
}

input::placeholder {
    color: rgb(126, 137, 219);
    opacity: .7;
    text-align: right;

}

select {
    background-color: #e7eee6;
    color: rgb(126, 137, 219);
    padding: 1px 0;
    box-shadow: 10px 10px 5px grey;
    height: 2em;
    border-radius: 7px;

}

select:focus {

    border: solid rgb(87, 187, 87) 3px;
    background-color: rgb(175, 211, 211);

}






textarea {
    background-color: #e7eee6;
    border-radius: 4px;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    box-shadow: 10px 10px 5px grey;
}

footer {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;

}

.bottom {
    padding: 5%;
    margin-top: 10%;
}





hr {
    border: darkgreen 1px solid;



}




label {
    margin-bottom: 10px;




}

input[type="number"] {
    max-width: 100%;
}

/* SELECTORS */
input[placeholder] {}

input[type="submit"] {
    cursor: pointer;
    background-color: rgb(93, 197, 183);
    color: whitesmoke;
    width: 20px;
    border-radius: 10px;
    height: 4em;
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
    box-shadow: 10px 10px 5px grey;


}






.first input {

    background-color: rgb(241, 241, 241);
    border-radius: 4px;
    height: 2.5em;
}

body {}





@media (min-width: 768px) {

    hr {
        max-width: 65%;
        margin: auto;
        border: darkgreen 1px solid;


    }

    header hr {
        max-width: 65%;
        margin: auto;
        border: darkgreen 6px inset;

    }

    form hr {
        max-width: 100%;
        margin: auto;
        border: darkgreen 6px outset;
    }

    .bottom,
    .bottom label {
        background: rgb(196, 222, 174);
        background: linear-gradient(90deg, rgba(196, 222, 174, 1) 0%, rgba(157, 199, 180, 1) 63%);
        border-radius: 10px;

    }

    .f1 {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;





    }

    p {
        margin-bottom: 40px;
    }



    form {
        max-width: 65%;
        margin: auto;
    }

    legend {
        margin-bottom: 20px;

    }

    * {
        background-color: rgb(250, 255, 249);
    }

    .contact label {
        text-align: left;
    }

    /* Changes made per suggestions to fix desktop */
    .contact {
        display: block;

    }

    .contact label {
        float: left;
        margin-top: 5px;
        width: 30%;
    }

    .contact input,
    .contact select {
        display: inline-block;
        margin-bottom: 25px;
        width: 70%;
    }

    #zip {
        width: 25%;
    }
}